node_modules
.next
.turbo
coverage
dist
.DS_Store


# typescript
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*.local

# editor/OS
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# next/vercel
.vercel
